<script>
    var Current_working_ID;
    // function to display messages after complition of tasks
    function messages(my_msg){
        $("#msg").text(my_msg);
        $("#msg").show();

        setTimeout(function(){   // removes the message after certain time interval
            $("#msg").hide();
        }, 2000);
    };


    $("#btnsave").click(function(){
        console.log('save button clicked');

        let stu_id = $('#stu_id').val();
        let name = $('#name_id').val();
        let email = $('#email_id').val();
        let password = $('#password_id').val();
        let csrf_token_val = $("input[name=csrfmiddlewaretoken]").val();
        
        if(name=='' || email=='' || password==''){
            alert('please fill all the forms')
        }else{
            // console.log(name);
            // console.log(email);
            // console.log(password);
            // console.log(csrf_token_val);
            
            form_data ={'stu_id':stu_id, 'name':name, 'email':email, 'password':password, 'csrfmiddlewaretoken':csrf_token_val};
            $.ajax({
                'url': "{% url 'save' %}",
                'method': 'POST',
                'data': form_data,
                'dataType': 'json',
                success: function(data){
                    let output = "";
                    messages("Form submitted successfully.")
                    
                    
                    let stu = data.students
                    for(let i=0;i<stu.length; i++){
                        
                        // inserting the updated data into the table elements afer retriving them in response
                        
                        output += "<tr><td>"+ stu[i].id +"</td><td>"+ stu[i].name +"</td><td>"+ stu[i].email +"</td><td>"+ stu[i].password +"</td><td> <input class='btn btn-sm btn-warning btn-edit mr-1' type='button' data-sid="+ stu[i].id +" value='Edit'><input class='btn btn-sm btn-del btn-danger ml-1'type='button' data-sid="+ stu[i].id +" value='delete'></td></tr>"
                    }
                    
                    $("#tbody").html(output)
                    $("#stu_id").val('');  // clearing id value so new records could be created
                    $("form")[0].reset() // clearing form fields after submitting data
                }
            });
        }
    });


    // Delete a selected Record through AJAX call
    $("tbody").on('click', '.btn-del', function(){
        let id = $(this).attr('data-sid');
        console.log('delete btn clicked: ', id)

        let csrf_token_val = $("input[name=csrfmiddlewaretoken]").val();
        del_data ={'del_id':id,'csrfmiddlewaretoken':csrf_token_val};
        let current_this = this;
        $.ajax({
            'url': "{% url 'delete' %}",
            'method': 'POST',
            'data': del_data,
            'success': function(data){
                if(data['status'] == '1'){
                    console.log('success')
                    $(current_this).closest('tr').fadeOut();
                    messages('Record Removed successfully.')


                }else if(data['status'] == 0){
                    console.log('Error Occured')
                }
                
                
            }
        });

    });

    //ajax call to retrive student data when edit button is clicked and populate the form with it
    $("tbody").on('click', '.btn-edit', function(){
        let id = $(this).attr('data-sid');
        console.log('edit btn clicked: ', id)

        let csrf_token_val = $("input[name=csrfmiddlewaretoken]").val();
        del_data ={'edit_id':id,'csrfmiddlewaretoken':csrf_token_val};

        $.ajax({
            'url': "{% url 'edit' %}",
            'method': 'POST',
            'data': del_data,
            'success': function(data){
                
                $("#stu_id").val(data.id)  // saving student ID in a hidden field
                $("#name_id").val(data.name)
                $("#email_id").val(data.email)
                $("#password_id").val(data.password)
                            
            }
        });

    
    });


</script>

<!-- "<tr><td>"+ stu[i].id +"</td><td>"+ stu[i].name +"</td><td>"+ stu[i].email +"</td><td>"+ stu[i].password +"</td><td> 
<input class='btn btn-sm btn-warning' type='button' data-sid="+ stu[i].id +" value='Edit'>
<input class='btn btn-sm btn-danger'type='button' data-sid="+ stu[i].id +" value='delete'></td></tr>" -->