<script>
    $("#btnsave").click(function(){
        console.log('save button clicked');

        let name = $('#name_id').val();
        let email = $('#email_id').val();
        let password = $('#password_id').val();
        let csrf_token_val = $("input[name=csrfmiddlewaretoken]").val();
        
        if(name=='' || email=='' || password==''){
            alert('please fill all the forms')
        }else{
            // console.log(name);
            // console.log(email);
            // console.log(password);
            // console.log(csrf_token_val);
            
            form_data ={'name':name, 'email':email, 'password':password, 'csrfmiddlewaretoken':csrf_token_val}
            $.ajax({
                'url': "{% url 'save' %}",
                'method': 'POST',
                'data': form_data,
                'dataType': 'json',
                success: function(data){
                    output = "";
                    $("form")[0].reset() // clearing form fields after submitting data
                    let stu = data.students
                    for(let i=0;i<stu.length; i++){

                    // inserting the updated data into the table elements afer retriving them in response

                        output += "<tr><td>"+ stu[i].id +"</td><td>"+ stu[i].name +"</td><td>"+ stu[i].email +"</td><td>"+ stu[i].password +"</td><td> <input class='btn btn-sm btn-warning' type='button' data-sid="+ stu[i].id +" value='Edit'><input class='btn btn-sm btn-danger'type='button' data-sid="+ stu[i].id +" value='delete'></td></tr>"
                    }

                    $("#tbody").html(output)
                }
            });

        }

    });
</script>

<!-- "<tr><td>"+ stu[i].id +"</td><td>"+ stu[i].name +"</td><td>"+ stu[i].email +"</td><td>"+ stu[i].password +"</td><td> 
<input class='btn btn-sm btn-warning' type='button' data-sid="+ stu[i].id +" value='Edit'>
<input class='btn btn-sm btn-danger'type='button' data-sid="+ stu[i].id +" value='delete'></td></tr>" -->